.password-strength-container{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}


.strength-box-container{
    width: 150px;
    justify-content: left;
    border:  solid 1px black;
    height: 20px;
    padding: 3px;
    align-items: center;
    margin-left: 10px;
}

.strength-box{
    width: 30px;
    height: 20px;
    background-color: green;
}